body {
    background-color: floralwhite;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(./images/jared-murray-NSuufgf-BME-unsplash.jpg);
    backdrop-filter: blur(4px);
}
.major-container{
    padding: 0 10%;
}
h3, p{
    color: white;
}
/* navigation styling */
.nav-container{
    /* width: 60%;
    margin-left: 40%; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-container li{
    float: right;
}
li a{
    /* text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-size: 12px;
    margin: 5px; */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    font-size: larger;
    background-color: #111;
}
.current{
    /* background-color: black;
    color: white;
    padding: 5px; */
  background-color: #04aa6d;
}
/* Contact page */
.form_body {
    width: 50%;
    margin-left: 30px;
}

.input {
    width: 60%;
    padding: 10px;
    margin: 10px auto;
    border: none;
}

form h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.btn {
    font-size: 18px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.534);
    border: none;
    margin-left: 10px;
}

.select {
    margin-left: 10px;
}
.input::placeholder{
    color: black;
    font-weight: lighter;
}
.btn:hover,
.input:active {
    color: blue;
    background-color: gray;
}
.btn, .input{
    min-width: 300px;
}
/* registration page */
/* .name_container{
    width: 50%;
 display: inline-block; 
 }*/

.name {
    display: inline-block;
    width: 25%;
}

/* Calculator page */
table {
    border-collapse: seperate;
    border-spacing: 10px 10px;
    background-color: blanchedalmond;
    text-align: right;
}

.output {
    height: 50px;
    background-color: white;
    font-size: 22px;
    padding: 5px;
    direction: rtl;
}
.output h3{
    color: black;
}
.calc_btn {
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
    ;
}

.calc_btn:active {
    background-color: white;
}

.number {
    background-color: lightgrey;
}

.cancel {
    background-color: firebrick;
}

.operator {
    background-color: lightyellow;
}

/* calculator with flexbox */
.container .output {
    height: 50px;
    margin-bottom: 10px;

}

.container .calc_btn {
    margin: 5px;
    border: 0;
}

.container {
    background-color: blanchedalmond;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
}

.container2 {
    display: flex;
}

/* log in page */