body{
    background-color: aliceblue;
}

/* Contact page */
.form_body{
    width: 50%;
}
.input{
    width: 60%;
    padding: 10px;
    margin: 10px auto;
    border: none;

}
form h4{
    margin-top: 0;
    margin-bottom: 0;
}
.btn{
    font-size: 18px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn:hover, .input:active{
    color: blue;
    background-color: gray;
}
